<!-- Footer -->
<section id="footer" style="position: fixed;bottom:0;width:100%; padding :0 0;">
    <footer>
        <div class="container">
            <div class="row">
                <div
                    class="footer navbar-fixed-bottom col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p class="h6"><a class="text-green ml-2" target="">Proton Hub</a> &copy MIT-WPU TY Panel-A Students,
                        All
                        right Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</section>
<!-- ./Footer -->