<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Proton Hub</title>
    <meta charset="utf-8">
    <link rel="icon" href="{{ url_for('static', filename='image/other/logo_icon_1.png') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/ed144e8d76.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Raleway&family=Roboto&display=swap"
        rel="stylesheet">
</head>
<style>
    a {
        color:inherit;
        text-decoration: none;
    }

    a:hover {
        color: #00A0C6;
        text-decoration: none;
        cursor: pointer;
    }
</style>

<body
    style="background-image: url({{ url_for('static', filename='image/') }}); margin-top: 57px; font-family : Lato, sans-serif ">
    {% include 'includes/_navbar.html' %}
    <div class="container">
        {% block body %} {% endblock %}
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
</body>
{% include 'includes/_footer.html' %}

</html>